In [1]:
import pickle
import pathlib
import numpy as np

In [20]:
DATA_DIR = pathlib.Path.cwd().parent / 'data'
RAW_DATA_DIR = DATA_DIR / 'raw'
PROCESSED_DATA_DIR = DATA_DIR / 'processed'
PDF_DIR = RAW_DATA_DIR / 'pdf'
DF_DIR = RAW_DATA_DIR / 'dataframe'

In [3]:
with open(DF_DIR / 'data.pkl', 'rb') as f:
    raw_data = pickle.load(f)

In [4]:
raw_data.keys()

dict_keys(['2021-12', '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-10', '2022-11', '2022-12', '2023-01', '2023-03', '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2022-09', '2023-02'])

In [5]:
data = raw_data.copy()
example = data['2021-12']
example

,company,ticker,industry,portfolio_weight,recommendation,price,target,upside,market_cap
0,Arezzo,ARZZ3,Varejo,10%,Compra,"R$ 68,20","R$ 108,00",58%,"R$ 6,8"
1,Assaí,ASAI3,Varejo,10%,Compra,"R$ 13,05","R$ 23,00",76%,"R$ 17,6"
2,Banco do Brasil,BBAS3,Bancos,10%,Compra,"R$ 30,81","R$ 52,00",69%,"R$ 87,9"
3,Gerdau,GGBR4,Mineração e Siderurgia,10%,Compra,"R$ 25,80","R$ 32,00",24%,"R$ 44,0"
4,Localiza,RENT3,Transportes,10%,Compra,"R$ 52,25","R$ 68,00",30%,"R$ 39,6"
5,RaiaDrogasil,RADL3,Varejo,10%,Compra,"R$ 22,61","R$ 27,00",19%,"R$ 37,4"
6,Rumo,RAIL3,Transportes,10%,Compra,"R$ 17,62","R$ 24,00",36%,"R$ 32,7"
7,São Martinho,SMTO3,"Agro, Alimentos e Bebidas",10%,Compra,"R$ 36,72","R$ 38,00",3%,"R$ 12,7"
8,Vale,VALE3,Mineração e Siderurgia,10%,Compra,"R$ 69,50","R$ 122,00",76%,"R$ 63,5"
9,Weg,WEGE3,Bens de Capital,10%,Compra,"R$ 32,41","R$ 50,00",54%,"R$ 136,0"

In [6]:
# Delete unused columns
unused_columns = ['company', 'industry', 'upside', 'market_cap']
for key in data.keys():
    data[key].drop(columns=unused_columns, inplace=True)

In [7]:
example

  ticker portfolio_weight recommendation     price     target
0  ARZZ3              10%         Compra  R$ 68,20  R$ 108,00
1  ASAI3              10%         Compra  R$ 13,05   R$ 23,00
2  BBAS3              10%         Compra  R$ 30,81   R$ 52,00
3  GGBR4              10%         Compra  R$ 25,80   R$ 32,00
4  RENT3              10%         Compra  R$ 52,25   R$ 68,00
5  RADL3              10%         Compra  R$ 22,61   R$ 27,00
6  RAIL3              10%         Compra  R$ 17,62   R$ 24,00
7  SMTO3              10%         Compra  R$ 36,72   R$ 38,00
8  VALE3              10%         Compra  R$ 69,50  R$ 122,00
9  WEGE3              10%         Compra  R$ 32,41   R$ 50,00

In [8]:
for df in data.values():
    for column in ['price', 'target']:
        df[column] = df[column].apply(lambda x: x.replace('R$', '').replace(',', '.'))
        df[column] = df[column].apply(lambda x: np.nan if x == '-' or x == 'Restrito' else x)
        df[column] = df[column].astype(float)

In [9]:
for df in data.values():
    df['portfolio_weight'] = df['portfolio_weight'].apply(lambda x: x.replace('%', '').replace(',', '.'))
    df['portfolio_weight'] = df['portfolio_weight'].astype(float)
    df['portfolio_weight'] = df['portfolio_weight'] / 100

In [10]:
for df in data.values():
    df['ticker'] = df['ticker'].apply(lambda x: x + '.SA')
    df['ticker'] = df['ticker'].astype(str)

In [11]:
for df in data.values():
    # Check if all reccomendations are buy
    for recommendation in df['recommendation']:
        if recommendation != 'Compra':
            display(df)

     ticker  portfolio_weight recommendation  price  target
0  ARZZ3.SA               0.1              -  79.67     NaN
1  RADL3.SA               0.1         Compra  22.38   27.00
2  BBAS3.SA               0.1         Compra  32.29   52.00
3  CBAV3.SA               0.1         Compra  16.51   18.00
4  RENT3.SA               0.1         Compra  57.77   68.00
5  PETR4.SA               0.1         Compra  33.88   45.30
6  MRFG3.SA               0.1         Compra  22.39   34.80
7  TIMS3.SA               0.1         Compra  12.80   21.00
8  VALE3.SA               0.1         Compra  84.49   97.09
9  WEGE3.SA               0.1         Compra  32.40   50.00

     ticker  portfolio_weight recommendation  price  target
0  ASAI3.SA              0.10         Compra  12.16    23.0
1  CPLE6.SA              0.10         Compra   8.96    10.0
2  EQTL3.SA              0.10         Compra  32.06    39.0
3  ITUB4.SA              0.15         Compra  27.21    35.0
4  RENT3.SA              0.10         Compra  58.56    89.0
5  MDIA3.SA              0.10         Compra  36.53    48.4
6  PETR4.SA              0.10         Compra  34.64    36.7
7  PRIO3.SA              0.10         Compra  47.04    56.0
8  RAIL3.SA              0.10         Compra  22.82    27.0
9  VALE3.SA              0.05         Neutro  67.58    73.0

     ticker  portfolio_weight recommendation  price  target
0  CPLE6.SA             0.100       Restrito   8.39     NaN
1  EQTL3.SA             0.100         Compra  31.60    39.0
2  GMAT3.SA             0.100         Compra   5.82     9.0
3  ITUB4.SA             0.150         Compra  26.82    35.0
4  MDIA3.SA             0.100         Compra  32.59    48.4
5  PETR4.SA             0.075         Compra  34.74    36.7
6  PRIO3.SA             0.100         Compra  47.70    56.0
7  RAIL3.SA             0.100         Compra  22.31    27.0
8  SBSP3.SA             0.100         Compra  58.37    80.0
9  VALE3.SA             0.075         Neutro  69.00    73.0

     ticker  portfolio_weight recommendation  price  target
0  CPLE6.SA             0.100       Restrito   8.39     NaN
1  EQTL3.SA             0.100         Compra  31.60    39.0
2  GMAT3.SA             0.100         Compra   5.82     9.0
3  ITUB4.SA             0.150         Compra  26.82    35.0
4  MDIA3.SA             0.100         Compra  32.59    48.4
5  PETR4.SA             0.075         Compra  34.74    36.7
6  PRIO3.SA             0.100         Compra  47.70    56.0
7  RAIL3.SA             0.100         Compra  22.31    27.0
8  SBSP3.SA             0.100         Compra  58.37    80.0
9  VALE3.SA             0.075         Neutro  69.00    73.0

     ticker  portfolio_weight recommendation  price  target
0  CPLE6.SA              0.10       Restrito   9.46     NaN
1  EQTL3.SA              0.10         Compra  34.06    39.0
2  ITUB4.SA              0.15         Compra  31.59    35.0
3  RENT3.SA              0.10         Compra  60.04    89.0
4  PETR4.SA              0.05         Compra  35.91    36.7
5  PRIO3.SA              0.10         Compra  45.93    56.0
6  RAIL3.SA              0.10         Compra  22.90    27.0
7  SBSP3.SA              0.10         Compra  67.56    80.0
8  VALE3.SA              0.10         Neutro  73.85    73.0
9  VIVA3.SA              0.10         Compra  29.73    38.0

     ticker  portfolio_weight recommendation  price  target
0  CPLE6.SA              0.10       Restrito   9.46     NaN
1  EQTL3.SA              0.10         Compra  34.06    39.0
2  ITUB4.SA              0.15         Compra  31.59    35.0
3  RENT3.SA              0.10         Compra  60.04    89.0
4  PETR4.SA              0.05         Compra  35.91    36.7
5  PRIO3.SA              0.10         Compra  45.93    56.0
6  RAIL3.SA              0.10         Compra  22.90    27.0
7  SBSP3.SA              0.10         Compra  67.56    80.0
8  VALE3.SA              0.10         Neutro  73.85    73.0
9  VIVA3.SA              0.10         Compra  29.73    38.0

      ticker  portfolio_weight recommendation  price  target
0   CPLE6.SA              0.10       Restrito  10.36     NaN
1   EQTL3.SA              0.10         Compra  35.72    39.0
2  IGTI11.SA              0.10         Compra  24.38    28.0
3   ITUB4.SA              0.15         Compra  33.97    35.0
4   RENT3.SA              0.10         Compra  63.60    89.0
5   PRIO3.SA              0.10         Compra  46.05    56.0
6   SMTO3.SA              0.05         Compra  29.31    44.3
7   SBSP3.SA              0.10         Compra  75.37    80.0
8   VALE3.SA              0.10         Neutro  77.20    73.0
9   VIVA3.SA              0.10         Compra  34.25    38.0

      ticker  portfolio_weight recommendation  price  target
0   CPLE6.SA              0.10       Restrito  10.36     NaN
1   EQTL3.SA              0.10         Compra  35.72    39.0
2  IGTI11.SA              0.10         Compra  24.38    28.0
3   ITUB4.SA              0.15         Compra  33.97    35.0
4   RENT3.SA              0.10         Compra  63.60    89.0
5   PRIO3.SA              0.10         Compra  46.05    56.0
6   SMTO3.SA              0.05         Compra  29.31    44.3
7   SBSP3.SA              0.10         Compra  75.37    80.0
8   VALE3.SA              0.10         Neutro  77.20    73.0
9   VIVA3.SA              0.10         Compra  34.25    38.0

      ticker  portfolio_weight recommendation  price  target
0   CPLE6.SA              0.10       Restrito  10.13     NaN
1   EQTL3.SA              0.10         Compra  35.43    39.0
2  IGTI11.SA              0.10         Compra  23.88    28.0
3   ITUB4.SA              0.15         Compra  32.78    35.0
4   PRIO3.SA              0.10         Compra  43.93    56.0
5   SMFT3.SA              0.10         Compra  24.25    28.0
6   SMTO3.SA              0.05         Compra  28.19    44.3
7   SBSP3.SA              0.10         Compra  78.86    80.0
8   VALE3.SA              0.10         Neutro  67.76    73.0
9   VIVA3.SA              0.10         Compra  33.80    38.0

      ticker  portfolio_weight recommendation  price  target
0   CPLE6.SA              0.10       Restrito  10.13     NaN
1   EQTL3.SA              0.10         Compra  35.43    39.0
2  IGTI11.SA              0.10         Compra  23.88    28.0
3   ITUB4.SA              0.15         Compra  32.78    35.0
4   PRIO3.SA              0.10         Compra  43.93    56.0
5   SMFT3.SA              0.10         Compra  24.25    28.0
6   SMTO3.SA              0.05         Compra  28.19    44.3
7   SBSP3.SA              0.10         Compra  78.86    80.0
8   VALE3.SA              0.10         Neutro  67.76    73.0
9   VIVA3.SA              0.10         Compra  33.80    38.0

      ticker  portfolio_weight recommendation  price  target
0   BBAS3.SA              0.05         Compra  57.86    61.0
1   CPLE6.SA              0.10       Restrito  10.22     NaN
2   EQTL3.SA              0.10         Compra  34.18    39.0
3  IGTI11.SA              0.10         Compra  23.52    32.5
4   ITUB4.SA              0.15         Compra  33.94    35.0
5   PRIO3.SA              0.10         Compra  43.71    56.0
6   SMFT3.SA              0.10         Compra  24.46    31.0
7   SBSP3.SA              0.10         Compra  79.16    80.0
8   VALE3.SA              0.10         Compra  66.99    82.0
9   VIVA3.SA              0.10         Compra  32.70    44.0

      ticker  portfolio_weight recommendation  price  target
0   BBAS3.SA              0.10         Compra  56.62    73.0
1   CPLE6.SA              0.10       Restrito   9.62     NaN
2   GGBR4.SA              0.05         Compra  22.20    27.0
3   GMAT3.SA              0.10         Compra   8.75     9.0
4  IGTI11.SA              0.10         Compra  23.31    32.5
5   ITUB4.SA              0.15         Compra  34.64    42.0
6   RENT3.SA              0.10         Compra  54.68    89.0
7   PRIO3.SA              0.10         Compra  48.74    63.9
8   SBSP3.SA              0.10         Compra  84.70   110.0
9   SMFT3.SA              0.10         Compra  26.00    31.0

      ticker  portfolio_weight recommendation  price  target
0   BBAS3.SA              0.10         Compra  27.42    36.5
1   CPLE6.SA              0.10       Restrito   9.09     NaN
2   GGBR4.SA              0.05         Compra  18.26    27.0
3   GMAT3.SA              0.10         Compra   7.42     9.0
4  IGTI11.SA              0.10         Compra  20.92    32.5
5   ITUB4.SA              0.15         Compra  31.36    42.0
6   RENT3.SA              0.10         Compra  49.03    89.0
7   PRIO3.SA              0.10         Compra  48.00    67.2
8   SBSP3.SA              0.10         Compra  80.82   110.0
9   SMFT3.SA              0.10         Compra  24.19    31.0

In [12]:
for df in data.values():
    df.drop(columns=['recommendation'], inplace=True)

In [14]:
for df in data.values():
    # rename columns
    df.rename(columns={'price': 'current_price', 'target': 'target_price'}, inplace=True)

In [18]:
for df in data.values():
    df.index = df['ticker']
    df.drop(columns=['ticker'], inplace=True)

In [19]:
example

          portfolio_weight  current_price  target_price
ticker
ARZZ3.SA               0.1          68.20         108.0
ASAI3.SA               0.1          13.05          23.0
BBAS3.SA               0.1          30.81          52.0
GGBR4.SA               0.1          25.80          32.0
RENT3.SA               0.1          52.25          68.0
RADL3.SA               0.1          22.61          27.0
RAIL3.SA               0.1          17.62          24.0
SMTO3.SA               0.1          36.72          38.0
VALE3.SA               0.1          69.50         122.0
WEGE3.SA               0.1          32.41          50.0

In [21]:
with open(PROCESSED_DATA_DIR / 'data.pkl', 'wb') as f:
    pickle.dump(data, f)